.dictionary section {
  background: white;
  padding: 30px;
  max-width: 80%;
  margin: 35px auto;
  border-radius: 6px;
  box-shadow: 0px 4px 10px 1px rgba(131, 131, 131, 0.1);
}
.dictionary input {
  width: 100%;
  padding: 3px 10px;
  border-radius: 3px;
  border: 1px solid #ddd;
}
.dictionary h2 {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 40px;
}
.dictionary .suggested-search {
  font-size: 12px;
  opacity: 0.7;
  margin-top: 5px;
  margin-left: 2px;
}

@media (max-width: 900px) {
  .dictionary section {
    margin: 30px auto;
    max-width: 90%;
    padding: 18px 15px;
  }
  .dictionary input {
    padding: 8px 10px;
    font-size: 20px;
  }

  .dictionary .suggested-search {
    font-size: 10px;
  }
}
